.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLink:hover {
  text-decoration: underline;
}