.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #61dafb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}